@model IEnumerable<LMS.Models.Reservation>

@{
    ViewData["Title"] = "Index";
    List<SelectListItem> l3 = new List<SelectListItem>();
    l3.Add(new SelectListItem() { Text = "1", Value = "1" });
    l3.Add(new SelectListItem() { Text = "2", Value = "2" });
    l3.Add(new SelectListItem() { Text = "Select Duration", Value = "", Selected = true });
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patron)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationTime)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.ReservationEndDate)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ReservationEndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Room.RoomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patron.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationTime)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.ReservationEndDate)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ReservationEndTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
