@model LibrarySystem.Models.Room

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Whiteboard)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Whiteboard)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Monitor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Monitor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Occupancy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Occupancy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Available)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Available)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RoomID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
