@model IEnumerable<LMS.Models.Room>

@{
    ViewData["Title"] = "Index";
}

<center><h2>Library Rooms</h2></center>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Whiteboard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monitor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxOccupancy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Whiteboard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monitor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxOccupancy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p class="btn btn-default">
    <a asp-action="Create">Create New</a>
</p>
