@model LibrarySystem.Models.Checkout

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Checkout</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CheckoutDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CheckoutDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateReturned)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateReturned)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Members)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Members.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Books)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Books.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CheckoutID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
