@model LibrarySystem.Models.Member

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Checkouts)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Book</th>
                    <th>Checked Out</th>
                    <th>Returned</th>
                </tr>
                @foreach (var item in Model.Checkouts)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Books.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CheckoutDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateReturned)
                    </td>
                </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MemberID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
