@model IEnumerable<LMS.Models.BookViewModel>

@{
    ViewData["Title"] = "Index";
}

<center><h2>Library Books</h2></center>

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.ISBN)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Genre)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>*@
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ISBN)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Genre)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>*@
                <td>
                    @if (item.IsAvailable)
                    {
                        <h4 class="text-success">Is Available</h4>
                        @*@Html.ActionLink("Checkout", "Create", "Checkouts", new { ID = item.ID }, new { @class = "btn btn-primary" })*@
                    }
                    else
                    {
                        <h4 class="text-warning">Checked Out</h4>
                        @*@Html.ActionLink("Return", "Edit", "Checkouts", new { ID = item.ID }, new { @class = "btn btn-success" })*@
                    }
                </td>
                <td>

                    @*<a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |*@
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> @*|*@
                    @*<a asp-action="Delete" asp-route-id="@item.ID">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
<p class="btn btn-default" style="color:white;">
    @Html.ActionLink("Create New", "Create")
</p>
